.footer {
  background: var(--background-color-3);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--text-color-white);
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--background-color-2);
  margin-bottom: 30px;
}

.footer-contato li a {
  color: var(--background-color-2);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: var(--text-color-gray-2);
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
