html {
  scroll-behavior: smooth;
}

body {
  font-family: FiraSans;
  margin: 0px;
  color: var(--text-color-black);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

/* botão do topo */

.btn-topo {
  display: flex;
  text-decoration: none;
  color: var(--text-color-black); 
  width: max-content;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: var(--icon-color);
  color: var(--text-color-white-1);
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
  bottom: 20px;
  margin: auto;
}